ul,ol{
  padding: 10px 0 0 30px;
}
ul li{
  list-style: disc;
}
ol li{
  list-style: decimal;
}
h1{
  font-size: 30px;
  padding-top: 22px; 
}
h2{
  font-size: 28px;  
  padding-top: 18px;
}
h3{
  font-size: 24px;  
  padding-top: 16px;
}
h4{
  font-size: 18px;  
  padding-top: 10px;
}
h5{
  font-size: 14px;
  padding-top: 8px;
}
h6{
  font-size: 12px; 
  padding-top: 6px;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}
strong{
  font-weight: 600;
}
em{
  font-style: italic;
}
code{
  background: #2bb8aa;
  color: #fff;
  padding: 0 2px;
  border-radius: 2px;
}
pre{
  background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 22px; 
}
pre code{
  background: #000;
}
blockquote{
  padding-left: 8px;
  border-left: 5px solid pink;
  margin: 18px 0 0 14px;
}
blockquote p{
  padding: 0;
}
#answer > p{
  padding: 10px 0 0 12px;
}